<!doctype html>
<html>
    <head>
        {% load staticfiles %}
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <title>Timeline Retrieval of Academic papers from ACL Anthology collection</title>
    </head>
    <body>
        <div id="search">
            <form>
                <input type="text" id="t_query" name="t_query">
                <input type="button" id="b_search" value="Search">
            </form>
        </div>
        <div id="result">
        </div>
    </body>
</html>
